
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    background: #0b1d13;
    color: #fff;
}



 .page-section {
    display: block;
}

 .page-section.hide {
    display: none;
}



 .dashboard {
    display: flex;
}

 aside {
    width: 260px;
    height: 100vh;
    background: linear-gradient(180deg, #111, #1a1a1a);
    border-right: 1px solid var(--border-color);
    padding: 20px;
    position: fixed;
    left: 0;
    top:0;
    overflow-y: auto;
    transition: 0.3s ease;
    z-index: 200;
}

 aside h2 {
    color: var(--primary-red);
    margin-bottom: 30px;
}

 .admin-info {
    padding: 15px;
    margin-bottom: 30px;
    background: var(--surface-dark);
    border-radius: 10px;
    border: 1px solid var(--border-color);
}

.admin-info p {
    font-size: 12px;
    color: var(--text-dim);
}

.admin-info span {
    color: var(--primary-red);
}

.admin-info .active {
    color: var(--status-secure);
}

 .menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu a {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px;
    border-radius: 8px;
    color: var(--text-dim);
    transition: 0.3s;
    position: relative;
}

.menu a:hover {
    background: rgba(244, 51, 52, 0.1);
    color: var(--primary-red);
}

.menu a.active {
    background: rgba(244, 51, 52, 0.2);
    color: var(--primary-red);
}

 main {
    margin-left: 260px;
    width: 100%;
}

 .topbar {
    height: 70px;
    background: var(--surface-dark);
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid var(--border-color);
}

 .topbar-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

 .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background: var(--text-main);
    transition: 0.3s;
}

 .hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translateY(8px);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translateY(-8px);
}

 .overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    z-index: 150;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}

 @media (max-width: 768px) {

     .hamburger {
        display: flex;
    }

     aside {
        transform: translateX(-100%);
        width: 460px;
        top: 50px;
    }

    aside.active {
        transform: translateX(0);
    }

     main {
        margin-left: 0;
    }

    .topbar {
        margin-left: 0;
    }
}






 
main {
    margin-left: 260px;
    width: calc(100% - 260px);
}

 .topbar {
    height: 70px;
    width: 100%;
     margin-left: 0;
 
    background: var(--surface-dark);
    border-bottom: 1px solid var(--border-color);
    padding: 0 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: sticky;
    top: 0;
    z-index: 100;

    animation: fadeDown 0.5s ease;
}

 .topbar-left h3 {
    color: var(--text-main);
}

 .search-box {
    display: flex;
    align-items: center;
    background: var(--bg-black);
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid var(--border-color);
}

.search-box i {
    color: var(--text-dim);
    margin-right: 8px;
}

.search-box input {
    background: transparent;
    border: none;
    outline: none;
    color: var(--text-main);
}

 .topbar-right {
    display: flex;
    align-items: center;
    gap: 50px;
}

 .topbar-icon {
    position: relative;
    font-size: 18px;
    color: var(--text-dim);
    cursor: pointer;
    transition: 0.3s;
    background-color: var(--text-main);
    padding: 10px 20px;
    border-radius: 50px;
}

.topbar-icon:hover {
    color: var(--primary-red);
    transform: scale(1.1);
}

 .badge {
    position: absolute;
    top: -6px;
    right: -8px;
    background: var(--primary-red);
    color: white;
    font-size: 10px;
    padding: 2px 6px;
    border-radius: 50%;
}

 .profile-box {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.profile-img {
    width: 35px;
    height: 35px;
    background: var(--primary-red);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

 .profile-info p {
    font-size: 13px;
}

.profile-info span {
    font-size: 11px;
    color: var(--text-dim);
}

 @keyframes fadeDown {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}







.threat-section {
    padding: 20px;
    background-color: var(--surface-light);
}

 .section-title {
    margin-bottom: 20px;
}

 .threat-cards {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.threat-card {
    flex: 1;
    padding: 20px;
    border-radius: 10px;
    background: var(--surface-dark);
    border: 1px solid var(--border-color);
    text-align: center;
    transition: 0.3s;
}

.threat-card h3 {
    font-size: 14px;
    margin-bottom: 10px;
}

.threat-card p {
    font-size: 28px;
    font-weight: bold;
}

 .threat-card.critical {
    border-color: var(--primary-red);
    box-shadow: 0 0 10px var(--primary-glow);
}

.threat-card.warning {
    border-color: orange;
}

.threat-card.safe {
    border-color: var(--status-secure);
}

 .threat-card:hover {
    transform: translateY(-5px);
}

.threat-table {
    width: 100%;
    overflow-x: auto;   
}

.threat-table::-webkit-scrollbar {
    height: 6px;
}

.threat-table::-webkit-scrollbar-thumb {
    background: var(--primary-red);
    border-radius: 10px;
}

 .threat-table table {
    width: 100%;
    min-width: 600px;
    border-collapse: collapse;
    background: var(--surface-dark);
    border-radius: 10px;
    overflow: hidden;
}

th,
td {
    padding: 12px;
    text-align: left;
}

th {
    background: #111;
    color: var(--text-dim);
}

tr {
    border-bottom: 1px solid var(--border-color);
}

 td.critical {
    color: var(--primary-red);
}

td.warning {
    color: orange;
}

td.safe {
    color: var(--status-secure);
}








.user-section {
    padding: 20px;
    background-color: var(--surface-light);
}

 .user-actions {
    margin-bottom: 20px;
}

 .user-table table {
    width: 100%;
    border-collapse: collapse;
    background: var(--surface-dark);
    border-radius: 10px;
    overflow: hidden;
}

th,
td {
    padding: 12px;
    text-align: left;
}

th {
    background: #111;
    color: var(--text-dim);
}

tr {
    border-bottom: 1px solid var(--border-color);
}

 td.active {
    color: var(--status-secure);
}

td.warning {
    color: orange;
}

td.inactive {
    color: var(--primary-red);
}

 button {
    border: none;
    padding: 6px 10px;
    margin-right: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}

 .edit-btn {
    background: #444;
    color: white;
}

.block-btn {
    background: orange;
    color: black;
}

.delete-btn {
    background: var(--primary-red);
    color: white;
}

 button:hover {
    opacity: 0.8;
}








.network-section {
    padding: 20px;
    background-color: var(--surface-light);
}

 .network-cards {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.net-card {
    flex: 1;
    padding: 20px;
    background: var(--surface-dark);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
}

.net-card h4 {
    font-size: 14px;
    margin-bottom: 10px;
}

.net-card p {
    font-size: 24px;
    font-weight: bold;
}

.net-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 15px var(--primary-glow);
}

 .network-live {
    background: #111;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 30px;
    border: 1px solid var(--border-color);
}

.network-live h3 {
    margin-bottom: 10px;
}

.network-live ul {
    list-style: none;
}

.network-live li {
    font-size: 13px;
    margin-bottom: 8px;
    color: var(--text-dim);
}

 .ip {
    color: var(--primary-red);
}

 .network-table table {
    width: 100%;
    border-collapse: collapse;
    background: var(--surface-dark);
    border-radius: 10px;
    overflow: hidden;
}

th,
td {
    padding: 12px;
    text-align: left;
}

th {
    background: #111;
    color: var(--text-dim);
}

tr {
    border-bottom: 1px solid var(--border-color);
}

 td.safe {
    color: var(--status-secure);
}

td.warning {
    color: orange;
}

td.blocked {
    color: var(--primary-red);
}

@media (max-width: 768px) {

     main {
        margin-left: 0;
        width: 100%;
    }

     .topbar {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        height: auto;
        padding: 10px;
    }

    .topbar-left {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .topbar-center {
        width: 100%;
    }

    .search-box {
        width: 100%;
    }

    .topbar-right {
        width: 100%;
        justify-content: space-between;
    }

     .profile-info p {
        font-size: 11px;
    }

    .profile-info span {
        font-size: 9px;
    }

     .threat-cards {
        flex-direction: column;
    }

     .user-table {
        overflow-x: auto;
    }

     .network-cards {
        flex-direction: column;
    }

     .network-table {
        overflow-x: auto;
    }

     table {
        min-width: 200px;
    }

     .threat-section,
    .user-section,
    .network-section {
        padding: 15px;
    }

     .section-title {
        font-size: 1.2rem;
    }

}